<% form_for :password, :url => '/profile/password' do |f| -%>
<div class="box">
<h1>Zmiana hasła</h1>
<p>
Wpisz nowe hasło
</p>

<%= error_message_on 'password', 'old_password' %>
<label>
    <span>Aktualne</span>
    <%= f.password_field 'old_password' %>
</label>

<%= error_message_on 'password', 'password' %>
<label>
    <span>Password</span>
    <%= f.password_field 'password' %>
</label>

<%= error_message_on 'password', 'password_confirmation' %>
<label>
    <span>Confirm password</span>
    <%= f.password_field 'password_confirmation' %>
</label>

<div class="spacer">
    <p>
    <%= submit_tag 'Zmien hasło' %>
    </p>
</div>
</div>

<% end -%>
